Kurs WWW/Lista 07/zadanie2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="transactionOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cardNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="expirationDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="0[1-9]{1}/[0-9]{2}|1[0-2]/[0-9]{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="CVC">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{3}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="firstName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[A-Z][a-z]+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="surName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[A-Z][a-z]+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="email">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[^@]+@[^\.]+\..+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="phoneNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="amount">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>